<<<<<<< HEAD
<footer>
  <div class="container">
    <ul>
      <li><a href="#">Impressum</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Mainpage</a></li>
    </ul>
    <p>&copy; 2017 dat Company. All rights reserved.</p>
  </div>
</footer>
=======
>>>>>>> 3a3ac19f356de722ac25621dbcab96cb93077596
