<% if user_signed_in? %>
  <% if current_user.id == 1%>
  <h1>New Product</h1>

  <%= render 'form', product: @product %>

  <%= link_to 'Back', products_path %>
  <% end %>
  <% else %>
    <% redirect_to root %>
  <% end %>
